<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Team Fusion FTC</title>   

<meta name="description" content="Insert Your Site Description" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>

<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Analytics -->

</head>


<body>

<!-- This section is for Splash Screen -->
<section id="jSplash">
	<div id="circle"></div>
</section>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider" style="height:50%;"> 

		<!--Slider Image--><div><img id="Robit" src="https://farm2.staticflickr.com/1539/24810652041_a93dd35169_c.jpg"></div>


		
		<div class="slider-background">

			<div class="slidecaption" style="font: Bold; font-size: 120px; color: #ff6900">              </div>
		
		</div>
		<div class="slider-text"> Team Fusion #364</div>
		
		

		<div class="control-nav">

			<a id="nextsection" href="#about"><i class="font-icon-arrow-simple-down"></i></a>


		</div>


		</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>


		<div class="sticky-nav">


			<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>


			<div id="logo">


				<a id="goUp" href="#home-slider" title="Team Fusion #364"><img src="https://farm2.staticflickr.com/1472/24901897906_c71c6c6f77_b.jpg" ></a>


			</div>


			<nav id="menu">


				<ul id="menu-nav">


					<li class="current"><a href="Website Final.html" class="external"><strong>Home</strong></a></li>

					<li><a href="#work"><strong>Teams</strong></a></li>
					
					<li><a href="#sub-teams"><strong>Sub-Teams</strong></a></li>
					
					<li><a href="#sponsors"><strong>Sponsors</strong></a></li>

					<li><a href="#contact"><strong>Contact</strong></a></li>
					
					<li><a href="password_parent_center.html" class="external"><strong>Parent Center</strong></a></li>


					<!--<li><a href="shortcodes.html" class="external">Shortcodes</a></li>-->


				</ul>


			</nav>


		</div>


	</header>
<!-- End Header -->

<!-- Our Shortcodes Section -->
<div id="about_us" class="page">
	<div class="container">
    
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title" style="font-size:4em; color:#00008b;"><strong>FTC</strong></h2>
                    <h3 class="title-description"><p></p></h3><br><br>
					
					<img src="https://farm2.staticflickr.com/1660/24733018383_f5bb21df28_b.jpg">
					
					<br><br><p align="left" style="font-size:2.5em; color:#00008b; "><strong>FTC is a nation-wide robotics program designed for students in grades 7-12 to compete head to head. Teams are responsible for designing, building, and programming their robots to compete in an alliance format against other teams. 
					<br><br>
					FTC is very beneficial to members of Team Fusion and other robotics teams in several ways. For one, it promotes an interest and an understanding in the fields of Science, Technology, Engineering, and Mathematics. Two, it helps students develop “coopertition,”  which is cooperation and sportsmanship between competing teams. It helps create a positive atmosphere in the face of competition, and teams are able to develop friendly rivalries along the way. Three, it gives the teams a chance to show off their abilities and display gracious professionalism and maturity. This helps the teams “keep their cool” if they lose the competition.
					<br><br>
					This "small" competition requires students to follow the Design process through and through like the FRC competition. However, the FTC competition presents its own challenges as teams are restricted to an 18-inch cube size.
					<br><br>
					To find out more, check out the FTC page on the official FIRST website <a href="http://www.firstinspires.org/robotics/ftc">here</a>.<br><br>
					*Our FTC teams will be obtaining their own webpages soon*</strong></p>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
		<!-- Start Accordion/Toggle Section -->
        <div class="row">
        
        	<div class="span6">
            	<h3 class="spec" style="color:#00008b; font-size:3em"><strong>FTC Teams</strong></h3>
                
            	<!-- Start Accordion -->
        		<div class="accordion" id="accordionArea">
                    <div class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#oneArea">
                                Synergy #5249
                                <span class="font-icon-arrow-simple-down"></span>
                            </a>
                        </div>
                        <div id="oneArea" class="accordion-body collapse">
                            <div class="accordion-inner" style="font-size:2.25em;">
                                <center><img src="https://farm2.staticflickr.com/1510/25365113315_9263f81247_c.jpg"></center><br><br>
								#5249 is comprised of 1st year engineering students at Gulfport High School and are rising engineers of tomorrow.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#twoArea">
                            Synergy Squared #8001
                            <span class="font-icon-arrow-simple-down"></span>
                        </a>
                        </div>
                        <div id="twoArea" class="accordion-body collapse">
                            <div class="accordion-inner" style="font-size:2.25em;">
                                <center><img src="https://farm2.staticflickr.com/1580/25339027176_56f9a2e06d_c.jpg"></center><br><br>
								Synergy Squared is our designated "Senior" team at Gulfport High, founded by Team Fusion and Synergy in Motion- now Synergy.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#threeArea">
                            Synergy Cubed #9018
                            <span class="font-icon-arrow-simple-down"></span>
                        </a>
                        </div>
                        <div id="threeArea" class="accordion-body collapse">
                            <div class="accordion-inner" style="font-size:2.25em;">
								<center><img src="https://farm2.staticflickr.com/1666/24738629683_5753bdec76_b.jpg"></center><br><br>
								Our designated "Junior" team, Synergy Cubed is a rising team with increasing interest in the younger grades of Gulfport High.
                            </div>
                        </div>
                    </div>
            	</div>
                <!-- End Accordion -->
		
		<!-- Information Block -->
        <div class="row">
        	<div class="span6">
                
                
            </div>	
        </div>
        <!-- End Information Block -->
		
		
    </div>
</div>
<!-- End Shortcodes Section -->
        

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->

<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>