<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>About Team Fusion</title>   

<meta name="description" content="Insert Your Site Description" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>

<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Analytics -->

</head>


<body>

<!-- This section is for Splash Screen -->
<section id="jSplash">
	<div id="circle"></div>
</section>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider" style="height:50%;"> 

		<!--Slider Image--><div><img id="Robit" src="https://farm2.staticflickr.com/1539/24810652041_a93dd35169_c.jpg"></div>


		
		<div class="slider-background">

			<div class="slidecaption" style="font: Bold; font-size: 120px; color: #ff6900">              </div>
		
		</div>
		<div class="slider-text"> Team Fusion #364</div>
		
		

		<div class="control-nav">

			<a id="nextsection" href="#about"><i class="font-icon-arrow-simple-down"></i></a>


		</div>


		</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>


		<div class="sticky-nav">


			<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>


			<div id="logo">


				<a id="goUp" href="#home-slider" title="Team Fusion #364"><img src="https://farm2.staticflickr.com/1472/24901897906_c71c6c6f77_b.jpg" ></a>


			</div>


			<nav id="menu">


				<ul id="menu-nav">


					<li class="current"><a href="Website Final.html" class="external"><strong>Home</strong></a></li>

					<li><a href="#about"><strong>Info</strong></a></li>

					<li><a href="#work"><strong>Teams</strong></a></li>
					
					<li><a href="#sub-teams"><strong>Sub-Teams</strong></a></li>
					
					<li><a href="#sponsors"><strong>Sponsors</strong></a></li>

					<li><a href="#contact"><strong>Contact</strong></a></li>
					
					<li><a href="password_parent_center.html" class="external"><strong>Parent Center</strong></a></li>


					<!--<li><a href="shortcodes.html" class="external">Shortcodes</a></li>-->


				</ul>


			</nav>


		</div>


	</header>
<!-- End Header -->

<!-- Our Shortcodes Section -->
<div id="about_us" class="page-2">
	<div class="container">
    
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">About Us</h2>
                    <h3 class="title-description"><p></p></h3><br><br>
					
					<img src="https://farm2.staticflickr.com/1567/24276287504_2297cfda8d_h.jpg">
					
					<br><br><p align="left">Since 1999, there have been many challenges and breakthroughs for Mississippi’s premiere FIRST Robotics team. Team Fusion #364 remains active in the community to enrich all people- young and old, big and small -with technology, science and cutting-edge information. Knowing that one day the world will be dependent on today’s young people, the students and mentors of Team Fusion strive to change the world in which we live and work.
					<br><br>
					Through community outreach, fundraisers, mentor programs and other events and demonstrations, Team Fusion reaches out to our community in an attempt to positively affect and mold the world. Since its conception, Team Fusion has concentrated on community involvement in an effort to help all people around us and to alter the world to make it a better, more successful place.
					<br><br>
					Team Fusion and FIRST encompass a need for business-oriented skills, knowledge, commitment and determination.
					<br><br>
					Operating Team Fusion, like all other FIRST teams, is rather expensive when all materials, travel expenses and extra events are factored into the budget. To meet these steep monetary needs, we require tremendous effort and commitment from the parent booster club, students, engineers and local businesses.
					<br><br>
					Team Fusion realizes that in order to be successful, we must have sound business principles and teamwork in all endeavors.
					<br><br>
					Team Fusion strives to be the best it can be in all challenges and undertakings. Our mission is to spread the idea of FIRST and to inspire other teams and individuals to excel in all aspects of science, technology and business.
					<br><br>
					This initiative inspired us to assist and mentor FIRST teams in Ecuador and Israel over the 2004 and 2005 competitions.
					<br><br>
					In 2008, the team assisted the “Kiwis,” a team from New Zealand starting a program. Team Fusion also helped create a team in Brazil, requiring two members to learn Portuguese. Joe Daschbach, expressing his appreciation for Team Fusion’s assistance said, “We have three rookie teams in New Orleans this year, and Team Fusion played a big part in making that happen!”
					<br><br>
					Last year, Team Fusion helped start an FLL Team at Anniston Elementary (a local elementary school) as well as an FTC Team at Gulfport High School. In addition, we helped rookie team #4107 at West Harrison High School get on their feet by sharing our facilities, as well as sending our members to their school to help them whenever they need us.
					<br><br>
					As a team, we work to overcome all obstacles, problems, adversity and hardships while still having fun! We are rewarded not only with prestigious awards, but with a sense of satisfaction for doing something great that can really make a difference. Few things provide these opportunities as well as FIRST Robotics. Team Fusion embodies all ideals of FIRST and tries to spread the FIRST fever to others.</p>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
		<!-- Information Block -->
        <div class="row">
        	<div class="span6">
                
                
            </div>	
        </div>
        <!-- End Information Block -->
		
		
    </div>
</div>
<!-- End Shortcodes Section -->
        

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->

<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>